<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Comparisons</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/style.css">


    </head>
        
<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
        <a class="navbar-brand" href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/index.html">Latitude X</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="#">Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/comparison.html">Comparisons</a>
            </li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Plots
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/temperature.html">Max Temperature</a>
                <a class="dropdown-item" href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/humidity.html">Humidity</a>
                <a class="dropdown-item" href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/windspeed.html">Wind Speed</a>
                <a class="dropdown-item" href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/cloudiness.html">Cloudiness</a>
            </div>
          </ul>
        </div>
      </nav>

  <section class="container">
    <div class="compare">
      <div class="row">
        <div class="col-md-12">
          <h1>Comparison: Latitude vs. X</h1>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>Click on any title for more detail.</p>
        </div>
      </div>

      <div class="row justify-content-center" id="middle">
        <div class="col-md-6 justify-content-center">
          <a href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/temperature.html"><h2>vs. Max Temperature</h2></a>
            <img class = "figs" src="/Users/shawn/Documents/GitHub/Web-Design-Challenge/WebVisualizations/visualizations/11-Web_homework_assignment_Resources_assets_images_Fig1.png" alt="Latitude vs Temperature">
          </a>
          <hr id="hide">
        </div>

        <div class="col-md-6 justify-content-center">
            <a href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/humidity.html"><h2>vs. Humidity</h2></a>
            <img class = "figs" src="/Users/shawn/Documents/GitHub/Web-Design-Challenge/WebVisualizations/visualizations/11-Web_homework_assignment_Resources_assets_images_Fig2.png" alt="Latitude vs Humidity">
          </a>
          <hr id="hide">
        </div>
      </div>

      <div class="row justify-content-center" id="middle">
        <div class="col-md-6 justify-content-center">
            <a href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/cloudiness.html"><h2>vs. Cloudiness</h2></a>
            <img class = "figs" src="/Users/shawn/Documents/GitHub/Web-Design-Challenge/WebVisualizations/visualizations/11-Web_homework_assignment_Resources_assets_images_Fig3.png" alt="Latitude vs Cloudiness">
          </a>
          <hr id="hide">
        </div>
      
        <div class="col-md-6 justify-content-center">
            <a href="file:///Users/shawn/Documents/GitHub/Web-Design-Challenge/templates/windspeed.html"><h2>vs. Wind Speed</h2></a>
            <img class = "figs" src="/Users/shawn/Documents/GitHub/Web-Design-Challenge/WebVisualizations/visualizations/11-Web_homework_assignment_Resources_assets_images_Fig4.png" alt="Latitude vs Wind">
          </a>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>        

</body>
</html>